# Dependencias
node_modules/
.pnpm-store/

# Builds
dist/
build/
.next/
.medusa/
.cache/

# Entorno / secretos (NUNCA versionar)
.env
.env.local
.env.*.local
*.pem

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Cobertura / tests
coverage/

# Subidas locales
uploads/
static/

# Editor / SO
.DS_Store
Thumbs.db
.idea/
.vscode/*
!.vscode/extensions.json

# Turbo / herramientas
.turbo/
